
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<br />

<center>
    <h2>Trang quản trị hệ thống truy xuất nguồn gốc sữa mộc châu</h2>
    <img src="~/Content/images/bg3.jpg" class="img-fluid" />
</center>
