@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <img src="~/Content/images/bg1.jpg" class="img-responsive" width="1000" height="400"/>
        <p class="lead"> Được chế biến từ nguồn sữa tươi thuần khiết trên thảo nguyên Mộc Châu kết hợp với công nghệ chế biến từ Châu Âu,
        tạo ra những sản phẩm sữa tươi trọn vẹn tự nhiên, giàu dinh dưỡng, ngọt lành tươi mát, tốt cho sức khỏe mọi người</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Đọc thêm &raquo;</a></p>
    </div>

    <div class="dt">

        @Html.Action("SanPhamPartialView", "Home")
    </div>

<br />
<div class="row">
<img src="~/Content/images/nhamaysua.jpg" class="img-responsive"  width="100%"/>
</div>